/*
 |--------------------------------------------
 | Colors
 |--------------------------------------------
 |
 | ASU Colors that should be used in the app
 |
 */
$colors-asu-maroon: #8c1d40;
$colors-asu-gold:   #ffc627;
$colors-asu-green:  #78be20;
$colors-asu-blue:   #00a3e0;
$colors-asu-orange: #ff7f32;
$colors-asu-grey:   #5c6670;

$colors-ws-menu-gray: #353535;

/*
 |--------------------------------------------
 | Materialize Override Colors
 |--------------------------------------------
 |
 | Override the Materialize default colors
 |
 */
$primary-color:   $colors-ws-menu-gray;
$secondary-color: $colors-asu-maroon;
$success-color:   $colors-asu-green;
$link-color:      $colors-asu-maroon;