.slide-container {
  background-color: black;
  display: block;
  overflow: hidden;
  width: 100%;
}

.slide-inner {
  display: block;
  width: 200%;
}

.slide {
  background-color: white;
  box-shadow: 0 0 15px black;
  float: left;
  min-height: 100vh;
  position: relative;
  width: 50%;
}

.slide-left-enter {
  transform: translateX(100%);
  z-index: 100;
}

.slide-left-enter.slide-left-enter-active {
  transform: translateX(0px);
  transition: transform 300ms ease-in;
}

.slide-left-leave {
  opacity: 1;
  transform: translateX(-100%) scale(1);
  z-index: 1;
}

.slide-left-leave.slide-left-leave-active {
  opacity: .8;
  transform: translateX(-100%) scale(0.95);
  transition: transform 300ms ease-in,
              opacity 300ms ease-out;
}