/*
 |--------------------------------------------
 | Transitions
 |--------------------------------------------
 |
 | Add classes that apply to the Transition
 | classes that the React Transition Component
 | will add
 |
 */

.slide-container {
  background-color: black;
  display: block;
  overflow: hidden;
  width: 100%;
}

.slide-inner {
  display: block;
  width: 200%;
}

.slide {
  background-color: white;
  box-shadow: 0 0 15px black;
  float: left;
  min-height: 100vh;
  position: relative;
  width: 50%;
}

/*
 |--------------------------------------------
 | Slide Left
 |--------------------------------------------
 |
 | Have the new slide slide in from the right
 | to the left.
 |
 */
.slide-left-enter {
  transform: translateX(100%);
  z-index: 100;

  &.slide-left-enter-active {
    transform: translateX(0px);
    transition: transform 300ms ease-in;
  }
}

.slide-left-leave {
  opacity: 1;
  transform: translateX(-100%) scale(1);
  z-index: 1;

  &.slide-left-leave-active {
    opacity: .8;
    transform: translateX(-100%) scale(0.95);
    transition: transform 300ms ease-in,
                opacity 300ms ease-out;
  }
}

/*
 |--------------------------------------------
 | Slide Right
 |--------------------------------------------
 |
 | Have the new slide slide in from the left
 | to the right.
 |
 */
.slide-right-enter {
  transform: translateX(-100%);
  z-index: 100;

  &.slide-right-enter-active {
    transform: translateX(0px);
    transition: transform 300ms ease-in;
  }
}

.slide-right-leave {
  opacity: 1;
  transform: translateX(-100%) scale(1);
  z-index: 1;

  &.slide-right-leave-active {
    opacity: .8;
    transform: translateX(-100%) scale(0.95);
    transition: transform 300ms ease-in,
                opacity 300ms ease-out;
  }
}

/*
 |--------------------------------------------
 | Animated Checkbox
 |--------------------------------------------
 |
 | Animate the green checkbox
 |
 */
@-moz-keyframes 
  dothabottomcheck {
    0% {
      height: 0;
    }
    100% {
      height: 22px;
    }
  }
@-webkit-keyframes 
  dothabottomcheck { 
    0% {
      height: 0;
    }
    100% {
      height: 22px;
    }
  }
@keyframes 
  dothabottomcheck {
    0% {
      height: 0;
    }
    100% {
      height: 22px;
    }
  }

@keyframes 
  dothatopcheck {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: 42px;
    }
  }
@-webkit-keyframes 
  dothatopcheck {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: 42px;
    }
  }
@-moz-keyframes 
  dothatopcheck {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: 42px;
    }
  }

.check-box {
  height: 100px;
  width: 100px;
  background-color: transparent;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.check-box::before,
.check-box::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: 10px;
  background-color: #34b93d;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  content: ' ';
  -webkit-transition: opacity ease .5;
  -moz-transition: opacity ease .5;
  transition: opacity ease .5;
}

.check-box::before {
  top: 62px;
  left: 43px;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.check-box::after {
  top: 45px;
  left: 26px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.check-box::after {
  -moz-animation: dothabottomcheck 0.2s ease 1s forwards;
  -o-animation: dothabottomcheck 0.2s ease 1s forwards;
  -webkit-animation: dothabottomcheck 0.2s ease 1s forwards;
  animation: dothabottomcheck 0.2s ease 1s forwards;
}

.check-box::before {
  -moz-animation: dothatopcheck 0.4s ease 1s forwards;
  -o-animation: dothatopcheck 0.4s ease 1s forwards;
  -webkit-animation: dothatopcheck 0.4s ease 1s forwards;
  animation: dothatopcheck 0.4s ease 1s forwards;
}
