/*
 |--------------------------------------------
 | Event Page BEM
 |--------------------------------------------
 |
 | 
 |
 */
.event {
  text-align: center;

  h2 {
    @extend .header;

    font-size: 3rem;
  }
}

/*
 |--------------------------------------------
 | Event List Item BEM
 |--------------------------------------------
 |
 | 
 |
 */
.event__list-item__badge {
  clear: both;
  display: block;
  margin-bottom: 4px;

  .material-icons {
    float: left;
  }
}