.nav__go-back {
  opacity: 1;
  transition: visibility 0s, opacity .5s ease .3s;
  visibility: visible;

  &.hide {
    display: block !important;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0s;
  }
}